<h2 align="left">Bulk Discount Show</h2>

<p>&emsp;Percent Off  % <%= @discount.percent %></p>
<p>&emsp;Minimum Quantity:  <%= @discount.quantity %> (item threshold)</p>
<p>&emsp;<%= link_to "Edit Discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit" %></p>
