<h3 style="text-align:left;">
    &emsp;*<%= link_to "Bakeries Index", "/bakeries" %>&emsp;*<%= link_to "Pastries Index", "/pastries" %><span style="float:right;">*<%= link_to "Candy Shops Index", "/shops" %>&emsp;*<%= link_to "Candies Index", "/candies" %>&emsp;</span>
</h3>
