<h1>Welcome to Leigh & Kevin's Sweet's Dreams</h1>

<ul>
  <li><a href="/bakeries">Leigh's Radical Bakeries</a></li>
  <li><a href="/pastries">Leigh's Delicious Pastries</a></li>
  <li><br/></li>
  <li><a href="/shops">Kevin's Candy Shops</a></li>
  <li><a href="/candies"></a>Kevin's More Delicious Candies</li>
</ul>
